@use "./reset" as *;

body {
  padding: 3.5rem 3.5rem 0 3.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.75rem;
}

main {
  max-width: 65ch;
  margin-inline: auto;
}

input {
  padding: 0.5em 0.75em;
  font-size: 1.5rem;
}

footer {
  padding: 1rem;
  text-align: center;
}
